{% extends "::base.html.twig" %}

{% block title %}AppBundle:Index:generateReport{% endblock %}

{% block body %}
    <h1>Welcome to the Index:generateReport page</h1>
    <h2>Operation DUMP</h2>
    <h2>Results DUMP</h2>
{% endblock %}
