{% if object.document %}
    <a href="{{ admin.generateObjectUrl('report', object) }}" class="btn btn-sm btn-default" title="Rapport de mesure détaillé">
        <i class="fa fa-file" aria-hidden="true"></i>
        Rapport
    </a>
{% endif %}