{% if object.document %}
    <a href="{{ admin.generateObjectUrl('certificate', object) }}" class="btn btn-sm btn-default" title="Attestation">
        <i class="fa fa-file" aria-hidden="true"></i>
        Attestation
    </a>
{% endif %}