.sidebar p.text-center.small{
    display: none;
}
.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #0082DE;
}
.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    color: #0082DE;
    background: white;
    border-left-color: #0082DE;
}
.skin-black .sidebar-form {
    border: 1px solid #0082DE;
}
.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn, a {
    color: #0082DE;
}
.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn {
    background-color: #fff;
}
.box.box-primary {
    border-top-color: #0082DE;
}
.btn-primary {
    background-color: #0082DE;
    border-color: #006dde;
}
.logo span{
    color:black;
}
.logo img + span {
    width: 130px;
}
ul[id*=operationTrain] li, ul[id*=operationPEB] li, ul[id*=operationRoute] li, ul[id*=operationTrain] li .icheckbox_square-blue, ul[id*=operationPEB] li .icheckbox_square-blue, ul[id*=operationRoute] li .icheckbox_square-blue, ul[id*=operationTrain] li span, ul[id*=operationPEB] li span, ul[id*=operationRoute] li span{
    display: inline-block;
}
ul[id*=operationTrain] li .checkbox label, ul[id*=operationPEB] li .checkbox label, ul[id*=operationRoute] li .checkbox label{
    margin-left: 0;
}

@media (max-width: 767px){
    .skin-black .main-header>.logo {
        background-color: white;
    }
    nav.navbar.navbar-static-top{
        position: fixed;
        top: 0;
    }
    .skin-black .main-header>.logo {
        position: fixed;
        width: 72%;
        display: inline-block;
        margin: auto;
        z-index: 9999;
        left: 50%;
        transform: translateX(-50%);
    }
    .content-wrapper {
        padding-top: 0!important;
    }
}